@import "reset.css";
body {
  background-color: #F5AC26;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  background: repeating-linear-gradient(45deg, #F5AC26, #F5AC26 1px, #FCFAF2 0, #FCFAF2 7px);
  -webkit-box-shadow: 6px 6px 10px 0px rgba(245, 172, 38, 0.1);
          box-shadow: 6px 6px 10px 0px rgba(245, 172, 38, 0.1);
  margin: 50px;
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .card {
    margin: 0;
    padding: 0;
    background: #FCFAF2;
    border-radius: 0;
  }
}

.resume {
  background-color: #FCFAF2;
  color: #434243;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resume .left {
  width: 35%;
}
.resume .right {
  width: 55%;
}
@media (max-width: 992px) {
  .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resume .left {
    width: 100%;
  }
  .resume .right {
    width: 100%;
  }
}

.profile {
  padding: 20px;
}
.profile p {
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
h2 span {
  font-size: 16px;
  margin-left: 10px;
  color: #F5AC26;
}
@media (max-width: 768px) {
  h2 span {
    display: none;
  }
}
h2 span.material-symbols-outlined {
  color: #434243;
  margin-left: 0px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  h2 span.material-symbols-outlined {
    display: none;
  }
}

h4 {
  margin-bottom: 30px;
}

.links {
  padding: 30px;
  background-color: #434243;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.links li {
  margin-bottom: 40px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
@media (max-width: 992px) {
  .links li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.links a {
  color: #434243;
  padding: 20px;
  border-radius: 3px;
  border: 3px solid #F5AC26;
  background-color: #F5AC26;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}
.links a:hover {
  background-color: #434243;
  color: #F5AC26;
}

.experience {
  padding: 20px;
}

.experienceList h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.experienceList > li {
  margin-bottom: 35px;
}
.experienceList > li p {
  line-height: 2;
  font-weight: normal;
  padding-bottom: 20px;
}
.experienceList > li:last-child {
  padding-bottom: 0;
}

.bar {
  width: 150px;
  height: 10px;
  border: 2px solid #F5AC26;
  border-radius: 5px;
}

.skills {
  border-top: 2px solid #F5AC26;
  border-bottom: 2px solid #F5AC26;
  padding: 20px;
}
.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .skills li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.value {
  height: 100%;
  background-color: #F5AC26;
}

.w80 {
  width: 80%;
}

.w60 {
  width: 60%;
}

.w40 {
  width: 40px;
}

.w10 {
  width: 10px;
}

.contact {
  padding: 20px;
  background-color: #FCFAF2;
  text-align: center;
}
.contact h2 {
  display: block;
}
.contact li {
  margin-bottom: 20px;
}
.contact a {
  color: #434243;
  display: inline-block;
}
.contact a:hover {
  color: #F5AC26;
}