<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>王暄雯</title>
 link(rel="stylesheet", href="all.css")
</head>
<body>
.wrap
 .card
  .resume
    .photo
    .profile
      h1 王暄雯
      h2 學歷
        span Education
      h4 國立嘉義大學數位學習與管理學系 碩士學位 | 2019～2024
      h4 國立嘉義大學數位學習與管理學系 學士學位 | 2015～2019

    .programmingSkills    
      h2 程式技能
        span Programming Skill
      ul
        li HTML
          .bar
            .value.p80
        li CSS
          .bar
            .value.p80
        li JS
          .bar
            .value.p60
        li Vue
          .bar
            .value.p40

    .experience
      h2 經歷與作品
        span Experience & Works

      ul.experienceList
        li 
          h3 嘉義大學數位學習系研究所 | 2019～2023
          ul
            li 碩論實驗網站

        li 
          h3 捷克中文系實習老師 | 2022
          ul
            li 中文學習教材

        li 
          h3 六角學院線上課程助教實習生 | 2020～2021
          ul
            li 使用 HTML、CSS 開發一個網站
            li 使用 jQuery 打造互動性網頁動畫效果
            li 網頁切版直播班 2020 秋季班
            li JavaScript 工程師養成直播班 - 2021 春季班
            li Vue 作品實戰 2021 夏季班

        li 
          h3 嘉義大學數位學習系畢業專題 | 2018～2019
          ul
            li 空拍機教學網站
      
            
    ul.links
      li 
        a(href="workFiles/平面設計作品/index.html") 平面設計作品
      li 
        a(href="workFiles/蔗香甜/index.html") 蔗香甜
      li 
        a(href="workFiles/d'Perfume/index.html") d'Perfume
      li 
        a(href="workFiles/BMI Calculator/index.html") BMI Calculator
      li 
        a(href="workFiles/高雄旅遊網/index.html") 高雄旅遊網
      li 
        a(href="workFiles/旅遊套票/index.html") 旅遊套票
      li 
        a(href="workFiles/碩論實驗/index.html") 碩論實驗網站

    .contact
      h2 聯絡方式
        span Contact Method
      ul
        li Mail：
          a(href="mailto:skar5268@gmail.com") skar5268@gmail.com
        li 電話：
          a(href="tel:+0903181398") 0903181398
        li 
          p 地址：雲林縣虎尾鎮中山路10號

  
</body>
</html>
